pipeline/parentPipeline.json
{
	"name": "parentPipeline",
	"properties": {
		"activities": [
			{
				"name": "ExecuteOnPrem",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "onprem_ingestion",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"files": {
							"value": "@pipeline().parameters.files",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ExecuteAPI",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteOnPrem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "API-ingestion",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ExecuteIncremental",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteAPI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SQLtoDataLake",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "FailureAlert",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ExecuteIncremental",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "https://prod-22.northcentralus.logic.azure.com:443/workflows/e7f02b80b8c1487094c293b7bb0c354f/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=U5H5UTAuM93Xa1eC6wxCwz35dHret7yEXkxETZT2Yrs",
						"type": "Expression"
					},
					"body": {
						"value": "{\n    \"pipeline_name\" :\"@{pipeline().Pipeline}\",\n    \"run_id\": \"@{pipeline().RunId}\",\n    \"status\": \"@{activity('ExecuteIncremental').Status}\",\n    \"error\": \"@{if(equals(activity('ExecuteIncremental').Status,'Failed'), string(activity('ExecuteIncremental').error),'No error')}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"files": {
				"type": "array",
				"defaultValue": [
					{
						"file_name": "DimPassenger.csv"
					},
					{
						"file_name": "DimAirline.csv"
					},
					{
						"file_name": "DimFlight.csv"
					}
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-03-26T14:48:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}